<div class="jumbotron center">
	<h1>Welcome to a Pinning test</h1>
	<p>
		<%= link_to "Log in","http://www.pinterest.com/", class:"btn btn-default btn-lg"%> 
		<%= link_to "Sign up","http://www.pinterest.com/", class:"btn btn-primary btn-lg"%> 
	</p>
</div>